*.iws
*Db.properties
*Db.script
.settings
*.log
/*DB.*
/cobertura.ser
.DS_Store
/target/
/plugins/
### Eclipse files
.project
.classpath
.settings
*.hide
manifest.yml
### IDEA Files
.idea/
*.iml
out/
